body{
    text-align: center; 
    font-family:  'Montserrat', sans-serif; 
}

#label{
    font-size: 25px; 
    padding: 10px;
    text-decoration: underline overline; 
    text-decoration-color:#061B6D;  
}

h1{
    color: #061B6D;
}

